Biblioteca.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Libros">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Pongo minOccurs a 0 ya que considero que puede haber o no libros registrados
                            igual que más adelante lo pondré en revistas y periodicos -->
                            <xs:element name="Libro" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Titulo_lbr" type="xs:string"></xs:element>
                                        <xs:element name="Indice_lbr" type="xs:string"></xs:element>
                                        <xs:element name="Sinopsis_lbr">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <!-- La sinopsis debe de tener una longitud entre 20 y 2500 caracteres -->
                                                    <xs:minLength value="20" />
                                                    <xs:maxLength value="2500" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Capitulo_lbr" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Titulo_capitulo" type="xs:string"></xs:element>
                                                    <xs:element name="Contenido_capitulo">
                                                        <xs:complexType>
                                                            <xs:attribute name="enlace_lbr">
                                                             <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <!-- Tiene que empezar por www/WWW/Www y seguir con un punto y luego letras-->
                                                                        <xs:pattern value="[WWW,www,Www]+\..+[A-Za-z]+"></xs:pattern>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="num_paginas_cap">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <!-- Tiene que ser un numero comprendido entre el 10 y el 99998 -->
                                                            <xs:minInclusive value="10"></xs:minInclusive>
                                                            <xs:maxExclusive value="99999"></xs:maxExclusive>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id_lbr" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                 <!-- Tiene que empezar siempre por L seguido de 4 digitos -->
                                                <xs:pattern value="L\d\d\d\d"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase_lbr" use="required">
                                        <xs:simpleType>    
                                            <xs:restriction base="xs:string">
                                                <!-- Tiene que ser del tipo novela, infantil o didáctico -->
                                                <xs:enumeration value="Novela"></xs:enumeration>
                                                <xs:enumeration value="Infantil"></xs:enumeration>
                                                <xs:enumeration value="Didactico"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="num_paginas_lbr" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <!-- Tiene que ser un numero comprendido entre el 10 y el 99998 -->
                                                <xs:minInclusive value="10"></xs:minInclusive>
                                                <xs:maxExclusive value="99999"></xs:maxExclusive>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Revistas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Revista" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Titulo_rv" type="xs:string"></xs:element>
                                        <xs:element name="Numero_publicacion_rv">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <!-- Tiene que ser un numero superior a 1 -->
                                                    <xs:minInclusive value="1"></xs:minInclusive>
                                                </xs:restriction>
                                        </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Indice_contenido_rv" type="xs:string"></xs:element>
                                        <xs:element name="Secciones_rv">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Seccion_rv">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Contenido_rv">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace_rv">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <!-- Tiene que empezar por www/WWW/Www y seguir con un punto y luego letras-->
                                                                                    <xs:pattern value="[WWW,www,Www]+\..+[A-Za-z]+"></xs:pattern>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="num_paginas_seccion">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <!-- Tiene que ser un numero comprendido entre el 2 y el 99998 -->
                                                                        <xs:minInclusive value="2"></xs:minInclusive>
                                                                        <xs:maxExclusive value="99999"></xs:maxExclusive>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id_rv" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <!-- Tiene que empezar siempre por R seguido de 4 digitos -->
                                                <xs:pattern value="R\d\d\d\d"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase_rv">
                                        <xs:simpleType>    
                                            <xs:restriction base="xs:string">
                                                <!-- Tiene que ser del tipo (informática, corazón, coches, investigación u otras) -->
                                                <xs:enumeration value="Informatica"></xs:enumeration>
                                                <xs:enumeration value="Corazon"></xs:enumeration>
                                                <xs:enumeration value="Coches"></xs:enumeration>
                                                <xs:enumeration value="Investigacion"></xs:enumeration>
                                                <xs:enumeration value="Otras"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="num_paginas_rv">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <!-- Tiene que ser un numero comprendido entre el 10 y el 99998 -->
                                                <xs:minInclusive value="10"></xs:minInclusive>
                                                <xs:maxExclusive value="99999"></xs:maxExclusive>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Periodicos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Periodico" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Indice_pr" type="xs:string"></xs:element>
                                        <xs:element name="Secciones_pr">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Seccion_pr" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Articulo_pr" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="autor" type="xs:string"></xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Contenido_pr">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="enlace_pr">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <!-- Tiene que empezar por www/WWW/Www y seguir con un punto y luego letras-->
                                                                                    <xs:pattern value="[WWW,www,Www]+\..+[A-Za-z]+"></xs:pattern>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="tipo_seccion_pr" >
                                                                <xs:simpleType>    
                                                                    <xs:restriction base="xs:string">
                                                                        <!-- Tiene que ser del tipo economica, opinion, deportes, nacional o internacional -->
                                                                        <xs:enumeration value="Economia"></xs:enumeration>
                                                                        <xs:enumeration value="Opinion"></xs:enumeration>
                                                                        <xs:enumeration value="Deportes"></xs:enumeration>
                                                                        <xs:enumeration value="Nacional"></xs:enumeration>
                                                                        <xs:enumeration value="Internacional"></xs:enumeration>
                                                                     </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id_pr" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <!-- Tiene que empezar siempre por P seguido de 4 digitos -->
                                                <xs:pattern value="P\d\d\d\d"></xs:pattern>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase_pr" >
                                        <xs:simpleType>    
                                            <xs:restriction base="xs:string">
                                                <!-- La clase tiene que ser internacional o nacional -->
                                                <xs:enumeration value="Nacional"></xs:enumeration>
                                                <xs:enumeration value="Internacional"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="fecha_publicacion_pr" type="xs:date"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>